<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-rest:war exploded">
    <output-path>D:/Program Files/Apache Software Foundation/Tomcat 9.0/webapps/spring-rest</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-rest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="aspectjweaver-1.8.0.RELEASE" />
          <element id="library" level="project" name="jstl-1.2" />
          <element id="library" level="project" name="jackson-annotations-2.10.0" />
          <element id="library" level="project" name="commons-fileupload-1.4" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-rest/web/Web" />
    </root>
  </artifact>
</component>