<component name="libraryTable">
  <library name="spring-instrument-4.3.8.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-instrument-4.3.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-jdbc-4.3.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-tx-4.3.8.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>